/* line 1, sass/imports/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 22, sass/imports/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 26, sass/imports/_reset.scss */
body {
  line-height: 1; }

/* line 29, sass/imports/_reset.scss */
ol, ul {
  list-style: none; }

/* line 32, sass/imports/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 35, sass/imports/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 40, sass/imports/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* general tags for project */
/* line 4, sass/imports/_base.scss */
body {
  font: 100%/1.5 Cambria, Garamond, Georgia, Times, serif;
  color: #333; }

/* line 8, sass/imports/_base.scss */
a {
  text-decoration: none;
  color: #4e7c92;
  -webkit-tap-highlight-color: #4e7c92; }

/* line 13, sass/imports/_base.scss */
a:hover {
  color: #df3030; }

/* line 16, sass/imports/_base.scss */
::selection {
  background: #4e7c92;
  color: #fff;
  text-shadow: none; }

/* line 22, sass/imports/_base.scss */
img,
iframe {
  width: 100%; }

/* line 27, sass/imports/_base.scss */
p {
  margin: 12px 0; }

/* line 31, sass/imports/_base.scss */
h2 {
  margin-bottom: 12px;
  padding-bottom: 6px;
  font-size: 24px;
  letter-spacing: -1px; }

/* line 38, sass/imports/_base.scss */
h3, h4 {
  font-size: 16px;
  line-height: 1.25;
  margin-bottom: 20px; }

/* line 50, sass/imports/_base.scss */
.show {
  transform: translateY(0);
  max-height: 1000px;
  opacity: 1;
  transition: all .3s; }

/* line 1, sass/imports/_structure.scss */
.secondary {
  background: #f8f7f3;
  border: 1px solid #dbd1b5;
  padding: 1em; }

/* line 7, sass/imports/_structure.scss */
section {
  max-width: 940px;
  margin: 0 24px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: 100%; }
  @media (min-width: 768px) {
    /* line 7, sass/imports/_structure.scss */
    section {
      margin: 0 auto;
      margin-bottom: 24px;
      grid-template-columns: 60% 37%;
      grid-column-gap: 3%; } }

/* line 24, sass/imports/_structure.scss */
.btn-list {
  padding: 6px; }
  /* line 26, sass/imports/_structure.scss */
  .btn-list li {
    display: inline-block;
    margin-right: 1.5rem;
    margin-bottom: 1rem; }
  /* line 32, sass/imports/_structure.scss */
  .btn-list .active {
    background: #87a3af;
    text-shadow: none;
    color: #fff;
    padding: 0.25rem; }

/* line 1, sass/imports/_header.scss */
header {
  max-width: 940px;
  margin: 0 auto; }
  /* line 5, sass/imports/_header.scss */
  header h1 {
    font-size: 3rem; }
  /* line 8, sass/imports/_header.scss */
  header p {
    display: none; }
    @media (min-width: 480px) {
      /* line 8, sass/imports/_header.scss */
      header p {
        display: block;
        font-size: 1.5rem;
        max-width: 940px;
        text-transform: uppercase;
        line-height: 1.1;
        margin-bottom: 1rem; } }
  /* line 19, sass/imports/_header.scss */
  header h1 + p {
    padding-top: 1rem;
    border-top: 3px double #dbd1b5; }
  /* line 23, sass/imports/_header.scss */
  header p + p {
    font-size: 1rem;
    line-height: 1.1;
    color: #666; }

/* line 4, sass/imports/_navigation.scss */
nav ul {
  /* in mobile , hide nav  */
  transform: translateY(-200px);
  max-height: 1px;
  opacity: 0;
  transition: all .3s;
  background: #ddd; }
  @media (min-width: 480px) {
    /* line 4, sass/imports/_navigation.scss */
    nav ul {
      display: flex;
      justify-content: space-between;
      background: #4e7c92;
      text-align: center;
      transform: translateY(0);
      max-height: 1000px;
      opacity: 1; } }
  @media (min-width: 480px) {
    /* line 22, sass/imports/_navigation.scss */
    nav ul a {
      color: #fff; } }
  /* line 27, sass/imports/_navigation.scss */
  nav ul li {
    padding: 4px 2px 4px 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25); }
    @media (min-width: 480px) {
      /* line 27, sass/imports/_navigation.scss */
      nav ul li {
        padding: 0.5rem;
        border-bottom: none;
        flex-grow: 1; } }
    /* line 35, sass/imports/_navigation.scss */
    nav ul li:hover {
      background: #333; }
      /* line 38, sass/imports/_navigation.scss */
      nav ul li:hover a {
        color: #fff;
        display: inline-block;
        width: 100%; }

/* line 49, sass/imports/_navigation.scss */
nav a#pull {
  position: relative;
  z-index: 20;
  display: block;
  display: block;
  background-color: #4e7c92;
  height: 32px;
  padding-top: 12px;
  padding-left: 12px; }
  @media (min-width: 480px) {
    /* line 49, sass/imports/_navigation.scss */
    nav a#pull {
      display: none; } }

/* line 63, sass/imports/_navigation.scss */
nav a#pull:after {
  content: "";
  background: url(../img/nav-icon.png) no-repeat;
  background-size: cover;
  width: 22px;
  height: 22px;
  color: #fff;
  display: inline-block; }

/* line 74, sass/imports/_navigation.scss */
.show {
  transform: translateY(0);
  max-height: 1000px;
  opacity: 1;
  transition: all .3s; }

/* line 1, sass/imports/_navsub.scss */
.nav-sub {
  padding: 10px 20px;
  background-color: #f8f7f3;
  border: 1px solid #dbd1b5;
  /** select all anchor tags where parent is an li tag **/
  /* nested li tags in nested ul **/ }
  @media (min-width: 768px) {
    /* line 1, sass/imports/_navsub.scss */
    .nav-sub {
      border-radius: 4px;
      margin: 0;
      width: auto; } }
  /* line 13, sass/imports/_navsub.scss */
  .nav-sub ul {
    display: none; }
  /* line 16, sass/imports/_navsub.scss */
  .nav-sub li:first-child ul {
    display: block; }
  /* line 20, sass/imports/_navsub.scss */
  .nav-sub > li > a {
    font-weight: bold; }
  /* line 24, sass/imports/_navsub.scss */
  .nav-sub ul li {
    padding-left: 12px; }
  /* line 28, sass/imports/_navsub.scss */
  .nav-sub .active {
    display: block; }

/* line 1, sass/imports/_footer.scss */
footer {
  margin-top: 40px;
  padding-top: 40px;
  background-color: #4e7c92;
  min-height: 320px; }
  /* line 6, sass/imports/_footer.scss */
  footer .content {
    display: grid;
    grid-template-columns: 60% 17% 17%;
    grid-column-gap: 3%;
    max-width: 940px;
    margin: 0 auto;
    color: #fff; }
    /* line 13, sass/imports/_footer.scss */
    footer .content a {
      color: #fff; }

/*# sourceMappingURL=styles.css.map */