footer {
	margin-top: 40px;
	padding-top: 40px;
	background-color: $link;
	min-height: 320px;
	.content {
		display: grid;
		grid-template-columns: 60% 17% 17%;
		grid-column-gap: 3%;
		max-width: $max-width;
		margin: 0 auto;
		color: #fff;
		a {
			color: #fff;
		}
	}
}