header {
	max-width: $max-width;
	margin: 0 auto;
	
	h1 {
		font-size: 3rem;
	}
	p {
		display: none;
		@media (min-width: 480px){
			display: block;
			font-size: 1.5rem;
			max-width: 940px;
			text-transform: uppercase;
			line-height: 1.1;
			margin-bottom: 1rem;
		}
	}
	h1 + p {
		padding-top: 1rem;
		border-top: 3px double #dbd1b5;
	}
	p + p {
		font-size: 1rem;
		line-height: 1.1;
		color: #666;
	}
}