.nav-sub {
	padding: 10px 20px;
	background-color: $lt-yellow;
	border: 1px solid $dk-yellow;
	@media (min-width: $break-med){
		// width: 40%;
		// float: right;
		border-radius: $radius;
		margin: 0;
		// float: none;
		width: auto;
	}
	ul {
		display:none;
	}
	li:first-child ul {
		display:block;
	}
    /** select all anchor tags where parent is an li tag **/
	> li > a { 
		font-weight:bold; 
	}
    /* nested li tags in nested ul **/
	ul li {
		padding-left:12px;
	}

    .active { display: block; }
}