.secondary {
	background: $lt-yellow;
	border:1px solid $dk-yellow;
	padding:1em;
}

section {
	

    max-width: $max-width;
    margin: 0 24px;
    margin-bottom: 24px; 
    display: grid;
    grid-template-columns: 100%;
    @media(min-width: $break-med){
        margin: 0 auto;
        margin-bottom: 24px;
        grid-template-columns: 60% 37%;
        grid-column-gap: 3%;
    }

}

.btn-list {
	padding: 6px;
	li {
		display: inline-block;
		margin-right:1.5rem;
		margin-bottom:1rem;
	}
	// results in highlighting selected button
	.active { 
		background: #87a3af;
		text-shadow: none; 
		color: #fff;
		padding: 0.25rem;
	}
}